<section class="advert-section">
  <div class="container cont-advert">
    <h2 class="title-advert visually-hidden">Advertisement</h2>
    <p>
      "Generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is
      therefore always free from repetition, injected humour, or
      non-characteristic"
    </p>
    <ul class="list-icons">
      <li class="item-icons">
        <svg class="icon icon-vert"><use xlink:href="#icon-vert"></use></svg>
      </li>
      <li class="item-icons">
        <svg class="icon icon-happ"><use xlink:href="#icon-happ"></use></svg>
      </li>
      <li class="item-icons">
        <svg class="icon icon-kater"><use xlink:href="#icon-kater"></use></svg>
      </li>
      <li class="item-icons">
        <svg class="icon icon-audr"><use xlink:href="#icon-audr"></use></svg>
      </li>
    </ul>
  </div>
</section>
