<section class="feature-section">
  <div class="container cont-feature">
    <div class="feature-together">
      <img
        src="./img/feature/feature.png"
        width="620"
        height="481"
        alt="Hyaluronic Acid"
      />
      <div class="text-box-feature">
        <h2 class="feature-title">Feature</h2>
        <p class="feature-mini">Innovation-led Products</p>
        <p class="feature-text">
          Our products are driven by cutting-edge innovation, combining the
          latest in skincare technology with natural ingredients to deliver
          exceptional results. Experience the future of skincare today.
        </p>
        <a href="#" class="feature-link">Read more</a>
      </div>
    </div>
  </div>
</section>
