<section class="products-section" id="products">
  <div class="container cont-products">
    <h2 class="products-title">Products</h2>
    <p class="products-text">Healthy skin, wildly you</p>
    <ul class="products-list">
      <li class="products-item">
        <div class="img-center">
          <img
            src="./img/products/first-product.png"
            alt=""
            width="305"
            height="305"
          />
        </div>
        <div class="prod">
          <p class="product-type">Cleanser</p>
          <p class="product-price">$ 56.00 USD</p>
        </div>
        <h3 class="product-name">Anti Acne Face Wash</h3>
        <a href="#" class="link-products">Shop now</a>
      </li>
      <li class="products-item">
        <div class="img-center">
          <img
            src="./img/products/second-product.png"
            alt=""
            width="305"
            height="305"
          />
        </div>
        <div class="prod">
          <p class="product-type">Serums</p>
          <p class="product-price">$ 34.00 USD</p>
        </div>
        <h3 class="product-name">Vitamin C Hand & Nail Cream</h3>
        <a href="#" class="link-products">Shop now</a>
      </li>
      <li class="products-item">
        <div class="img-center">
          <img
            src="./img/products/third-product.png"
            alt=""
            width="305"
            height="305"
          />
        </div>
        <div class="prod">
          <p class="product-type">Body Wash</p>
          <p class="product-price">$ 67.00 USD</p>
        </div>
        <h3 class="product-name">Vitamin C Clay Face Mask</h3>
        <a href="#" class="link-products">Shop now</a>
      </li>
      <li class="products-item">
        <div class="img-center">
          <img
            src="./img/products/fourth-product.png"
            alt=""
            width="305"
            height="305"
          />
        </div>
        <div class="prod">
          <p class="product-type">Night Cream</p>
          <p class="product-price">$ 89.00 USD</p>
        </div>
        <h3 class="product-name">10 In 1 Active Miracle</h3>
        <a href="#" class="link-products">Shop now</a>
      </li>
    </ul>
    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <p class="modal-text">The product has been added to the cart!</p>
        <img src="../img/cart.svg" class="img-cart" alt="Cart Icon" />
      </div>
    </div>
  </div>
</section>
