<section class="products-section">
  <div class="container cont-products">
    <h2 class="products-title">Products</h2>
    <p class="products-text">Healthy skin, wildly you</p>
    <ul class="products-list">
      <li class="products-item">
        <img
          src="./img/products/first-product.png"
          alt=""
          width="305"
          height="305"
        />
        <p></p>
      </li>
      <li class="products-item">
        <img
          src="./img/products/second-product.png"
          alt=""
          width="305"
          height="305"
        />
      </li>
      <li class="products-item">
        <img
          src="./img/products/third-product.png"
          alt=""
          width="305"
          height="305"
        />
      </li>
      <li class="products-item">
        <img
          src="./img/products/fourth-product.png"
          alt=""
          width="305"
          height="305"
        />
      </li>
    </ul>
  </div>
</section>
