.advert-section{
    margin-bottom: 200px;
}

.list-icons{
    max-width: 840px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;margin: 0 auto;
}

.advert-text{
font-weight: 400;
font-size: 28px;
line-height: 1.4;
text-align: center;
color: #000;
margin: 0 auto;
max-width: 832px;
margin-bottom: 56px;
}

