.feature-section {
    height: 100%;
    margin-bottom: 204px;
}



.cont-feature img{
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
}

.feature-together {
    display: flex;
   flex-direction: row;

}

.text-box-feature { display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-left: auto;
max-width: 488px;

    max-height: 620px;}

.feature-title {font-weight: 400;
    font-size: 137px;
    line-height: 0.81752;
    text-align: center;
  margin-bottom: auto;
    color: #013220;
       
        font-family: 'SnellBT-Regular', cursive;
        font-weight: normal;}

.feature-mini {font-weight: 600;
    font-size: 70px;
    line-height: 1.4;
    text-align: center;
    color: #000;
font-family: "Abhaya Libre", sans-serif;
}

.feature-text {font-weight: 400;
    font-size: 17px;
    line-height: 1.8;
    text-align: center;
    color: #000;
margin-top: auto;}

.feature-link {
    font-weight: 400;
        font-size: 14px;
        line-height: 1.4;
        text-align: center;
        color: #68513f;
        border: 1px solid #dacec6;
       padding: 12px 21px 12px 21px;
            background: #f1ebe7;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 115px;
    transition: background-color 0.3s, color 0.3s;
margin-top: 24px;
}

.feature-link:hover,
.feature-link:focus {
    background-color: #589b7ac2;
    color: #000;
}