.second-section {
    min-height: 946px;

    /* Ensure that child elements with absolute positioning are correctly placed */
}

.cont-second {
     position: relative;

    text-align: center;
    height: 946px;

}

.cont-second {
    min-width: 1440px;
    width: 1440px;
  
  
    overflow: hidden;
    
    /* Центрирует контейнер по горизонтали */
}

.second-title {
    font-weight: 600;
    font-size: 65px;
    line-height: 1.5;
    text-align: center;
    color: #000;

    font-family: "Abhaya Libre", sans-serif;
}

.second-span {
    display: block;
    font-weight: 600;
    font-size: 70px;
    line-height: 1.4;
    text-align: center;
    color: #000;
}

.skincare {
    font-size: 137px;
    line-height: 0.82;
    text-align: center;
    color: #013220;
    transform: rotate(-15deg);
    font-family: 'SnellBT-Regular', cursive;
    font-weight: normal;
    margin: -45px 0 20px;
}

.text-section {
    position: absolute;
    top: 25%;
    right: 27%;
    
}

.second-text 
{
    padding-top: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    color: #000;
    margin: 0 auto;
    max-width:600px;
    min-height: 1000px;
}

.second-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    /* Centers text inside the link */
    color: #68513f;
    border: 1px solid #dacec6;
    border-radius: 73px;
    padding: 13px 21px;
    background: #f1ebe7;

    /* Shortened transition duration for better responsiveness */
    transition: background-color 0.3s, color 0.3s;

    /* Centering properties */

    display: inline-block;
    /* Adjust margins */
    margin: 48px auto 0;
    /* Center with auto margins on left and right */
    max-width: 95px;
    /* Limit the width */
    max-height: 45px;
    /* Limit the height */
}

.second-link:hover,
.second-link:focus {
    background-color: #589b7ac2;
    color: #000;
}

.cont-second img {
    border-radius: 10px;
    position: absolute;

}

.first-img {
    top: 117px;
    left: 86px;
    width: 221px;
    height: 183px;
 
}

.second-img {
    top: 21px;
    right: 209px;
    width: 159px;
    height: 201px;

}

.third-img {
    top: 266px;
    right: 65px;
    width: 221px;
    height: 114px;

}

.fourth-img {
    top: 488px;
    left: 94px;
    width: 221px;
    height: 220px;

}

.fifth-img {
    top: 569px;
    right: 152px;
    width: 222px;
    height: 220px;
  
}



.cont-second img {
    opacity: 0;
    /* Изначально изображения невидимы */
    transition: opacity 1s ease-in-out;
    /* Плавное изменение прозрачности */
}

.cont-second img.show {
    opacity: 1;
    /* Показываем изображение */
}

.cont-second img.hide {
    opacity: 0;
    /* Скрываем изображение */
}