.cont-third{
    background-image: url(../img/third/third.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1340px;

}

.third-section{
    height: 500px;
}


    .visually-hidden {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
    
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
        }
